/* Reset CSS / Normalizar CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
mark {
    font-weight: "Raleway" , serif;
    font-style: inherit;
    font-size: inherit;
}

picture,
img {
    display: block;
    max-width: 100%;
    width: 100%; 
    height: initial;
}

svg {
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}

button {

    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
}

body{
    font-family: "Raleway" , serif;
   
}
.header {

    width: 100%;
    min-height: 5vh;

    /* background-color: red; */

    padding: 50px 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 200%;
    max-width: 200px;
}

.header-nav {
    width: 50%;
    /* background-color: aqua; */
    align-items: end;

    font-size: 1.5rem;
}

.header-ul {
    /* background-color: red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    gap: 1.875rem;
}

.header-li--border {
    text-decoration: underline;
}

.header-button {
    display: none;
}


@media (max-width:1600px){
@media (max-width:1560px){
    .header-nav{
        font-size: 1rem;
        font-size: 0.9rem;
    }

}
@media (max-width:1440px) {
    .header-button {
        display: flex;

    }

    .header-nav {
        display: none;
    }

}

@media (max-width: 450px){
    
    .header {
        padding:30px;
    }
}

.section {

    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(226, 103, 103); */

    padding: 20px 100px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    gap: 3.125rem;
}

.section-texto {
    width: 50%;
    padding: 20px 0 20px 0;
    font-size: 2em;
    align-content: start;
}

.section-wrapper {
    width: 100%;

    /* background-color: blue;  */

    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;

    gap: 2.5rem;
}


.section-wrapper-container {
    /* background-color: red; */

    /* 
    padding: 25px; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    column-gap: 65px;

}

.section-picture {
    width: 100%;
    background-color: black;
    gap: 0.625rem;
}

@media (max-width: 1440px) {

    .section-texto{
        font-size:1.5rem;
    }
}

@media (max-width: 1300px) {

    .section-texto{
        width: 100%;
        font-size: 2em;
    }
    .section-wrapper{
        padding: 0px;
    }

    .section-wrapper-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }



    @media (max-width: 450px){
        
        .section {
            padding: 20px;
        }


        .section-texto{
            font-size: 1.25rem;
        }
    }
}


.footer {
    width: 100%;
    max-width: 10000px;
    min-height: 10vh;
    /* background-color: red;  */

    margin: 0.625rem auto;
    padding: 80px 125px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    font-size: 2rem;

}

.footer-button {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    font-size: 3.125rem;
    gap: 0.5rem;
}


.footer-info {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-top: 0.2px solid black;

}

.footer-ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.875rem;
}

@media (max-width:1440px) {

    .footer{
        font-size: 1.50rem;
    }

    .footer-span{
        font-size: 1.50rem;
    }
   
} 

@media (max-width:768px){

    .footer-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap:1.25rem;
    }

    .footer-ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.25rem;
    }
}

@media (max-width:450px) {
    .footer {
        margin: auto;
        padding:10px;
    
        font-size: 1rem;

    }
    
    .footer-span{
        font-size: 1.25rem;
    }

    .footer-ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    
}